In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import minmax_scale
print('done')

done

In [2]:
mycsv = pd.read_csv('Car_Purchasing_Data.csv', encoding='ISO-8859-1')

In [3]:
mycsv.head()

,Customer Name,Customer e-mail,Country,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

In [ ]:
## visualization of correlation of features
sns.pairplot(mycsv)
## clearly, generally data is correlated with himself but the only outlier here is credit card debt
## credit card debt does not seem like have a correlation with buying expensive cars

In [ ]:
mycsv.head()

In [ ]:
#country can be essential, so we need to encode categorical data to numerical data 
array = np.array(mycsv['Country']).reshape(-1,1)
encoder = OrdinalEncoder()
result = encoder.fit_transform(array)
mycsv['Country'] = result
mycsv

In [ ]:
#customer name , email does not needed and can  be dropped to a better ML
mycsv_cleaned = mycsv.drop(['Customer Name','Customer e-mail'], axis = 1)

In [ ]:
#again look for correlations because i changed the country, i will look for its correlation
sns.pairplot(mycsv)

In [ ]:
y = mycsv_cleaned['Car Purchase Amount']
mycsv_cleaned = mycsv_cleaned.drop(['Car Purchase Amount'],axis=1)
## Input data became mycsv_cleaned and label data became y

In [ ]:
print(y)

In [ ]:
x = mycsv_cleaned
mycsv_cleaned.head()

In [ ]:
x.shape

In [ ]:
y.shape

In [ ]:
## normalization
x_scaled = minmax_scale(x)
x_scaled

In [ ]:
y_array = np.array(y).reshape(-1,1)
y_scaled = minmax_scale(y_array)
y_scaled.shape

In [ ]:
##now training phase
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled,y_scaled,test_size=0.2)

In [ ]:
x_train.shape

In [ ]:
from keras.datasets import mnist
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
import sklearn
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import linear_model
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
import keras
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.layers import Dropout
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping

In [ ]:
print(x_train.shape,'\n==========================================')
print(y_train.shape, '\n=============================================')

In [ ]:
model = Sequential()
model.add(Dense(20, activation='relu', input_shape = (6,),name='hiddenlayer1'))
model.add(Dense(20,activation='relu',name='hiddenlayer2'))
model.add(Dense(1,activation='linear' , name='outputlayer'))
model.summary()
model.compile(loss='mean_squared_error',optimizer=Adam())

In [ ]:
history = model.fit(x_train,y_train, epochs= 20, validation_split=0.2,batch_size=25,)

In [ ]:
print(history.history.keys())
plt.plot(history.history['loss'], color = 'Blue')
plt.plot(history.history['val_loss'],color= 'Orange')
plt.title('Model loss during training')
plt.xlabel('# of epochs')
plt.ylabel('loss')

In [ ]:
predicted = model.predict(x_test)

In [ ]:
plt.plot(predicted, color='Green')
plt.subplot()
plt.plot(y_test,color='Red')

In [ ]:
#country,gender, age, annual salary, creditcard debt, networth
x_takeinput= np.array([[160,1,50,50000,10000,60000]])
x_takeinput

In [ ]:
y_predict = model.predict(x_takeinput)

In [ ]:
print('expected car price is: ', y_predict)

In [ ]:
model.save('mymodel')

In [ ]:
del model

In [ ]:
from tensorflow.keras.models import load_model
model = load_model('mymodel')

In [ ]:
y_predict = model.predict(x_takeinput)
print('expected car price is: ', y_predict)